<div>
    <div class="row card-block">
        <div class="col">
            <h2 class="page-header"  *ngIf="pageType ==='new'">Crear Asistente</h2>
            <h2 class="page-header"  *ngIf="pageType ==='edit'">Actualizar Asistente</h2>
        </div>
        <div class="col">
            <button class="btn btn-custom" style="float: right;" (click)="onCreate()" [disabled]="!assistantForm.valid"
                    *ngIf="pageType ==='new'">
                Crear
            </button>
            <button class="btn btn-custom" style="float: right;" (click)="onUpdate()" [disabled]="!assistantForm.valid"
                    *ngIf="pageType ==='edit'">
                Actualizar
            </button>
        </div>
    </div>
    <div class="card" style="padding: 20px">
        <form [formGroup]="assistantForm">

            <div class="row">
                <div class="col">
                    <fieldset class="form-group">
                        <label for="name">Nombre</label>
                        <input class="form-control"
                               id="name"
                               formControlName="name">
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="last_name">Primer Apellido</label>
                        <input class="form-control"
                               id="last_name"
                               formControlName="last_name">
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="sur_name">Segundo Apellido</label>
                        <input class="form-control"
                               id="sur_name"
                               formControlName="sur_name">
                    </fieldset>
                    <fieldset class="form-group" *ngIf="creation_date != null">
                        <label>Fecha de creación: {{creation_date | date:'dd/MM/yyyy' }}</label>
                    </fieldset>
                    <fieldset class="form-group" *ngIf="modif_date != null">
                        <label>Fecha de modificación: {{modif_date | date:'dd/MM/yyyy' }}</label>
                    </fieldset>
                </div>
                <div class="col">
                    <div class="row">
                        <img hidden
                             id='assistImage' class="img-responsive">
                    </div>
                    <br/>

                    <fieldset class="form-group">
                        <label for="fileInput">Imágen Principal</label>
                        <input type="file"
                               class="form-control-file"
                               (change)="onImageChange($event)"
                               id="fileInput">
                    </fieldset>

                    <fieldset class="form-group">
                        <label for="active"> Activo</label>
                        <input type="checkbox"
                               id="active"
                               formControlName="active"
                               class="form-control-file">
                    </fieldset>
                </div>
            </div>
        </form>
    </div>
</div>
