<div class="welcome-page" [@routerTransition]>
    <div class="row">
        <div class="col-md-10 push-md-1">
            <h1>404 - Página no encontrada</h1>
            <br/>
            <p class="lead">Esta página no existe</p>
            <!--<p class="lead">-->
                <!--<a class="btn rounded-btn" [routerLink]="['/']">Inicio</a>-->
            <!--</p>-->
        </div>
    </div>
</div>
