<div>
    <div class="row card-block">
        <div class="col">
            <h2 class="page-header">Crear Equipo de Trabajo</h2>
        </div>
        <div class="col">
            <button class="btn btn-custom" style="float: right;" (click)="onCreate()" [disabled]="!workTeamForm.valid"
                    *ngIf="pageType ==='new'">
                Crear
            </button>
            <button class="btn btn-custom" style="float: right;" (click)="onUpdate()" [disabled]="!workTeamForm.valid"
                    *ngIf="pageType ==='edit'">
                Actualizar
            </button>
        </div>
    </div>
    <div class="card" style="padding: 20px">
        <form [formGroup]="workTeamForm">

            <div class="row">
                <div class="col">
                    <fieldset class="form-group">
                        <label for="name">Nombre</label>
                        <input class="form-control"
                               id="name"
                               formControlName="name">
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="description">Descripción</label>
                        <textarea
                            formControlName="description"
                            class="form-control"
                            id="description" name="description" rows="5"></textarea>
                    </fieldset>
                </div>
                <div class="col">
                    <fieldset class="form-group">
                        <label for="type">Coordinador</label>
                        <select class="form-control"
                                id="type"
                                formControlName="coordinator_id"
                                [(ngModel)]="currCoordinator">
                            <option *ngFor="let prof of professors" [value]="prof.id">
                                {{getFullName(prof)}}
                            </option>
                        </select>
                    </fieldset>

                    <fieldset class="form-group">
                        <label for="active"> Activo</label>
                        <input type="checkbox"
                               id="active"
                               formControlName="active"
                               class="form-control-file">
                    </fieldset>

                </div>
            </div>

        </form>

        <!-- Work team professor -->
        <div class="row" style="margin-top: 10px;">
            <button (click)="onAddProfessor()"
                    class="btn btn-custom"
                    style="margin: auto"
                    *ngIf="addingProfessor == false && pageType == 'edit'">
                <span>Añadir Profesor</span>
            </button>

            <button (click)="onCancelAddProfessor()"
                    class="btn btn-custom"
                    style="margin: auto"
                    *ngIf="addingProfessor == true">
                <span>Cancelar</span>
            </button>
        </div>

        <div class="row" *ngIf="addingProfessor == true" style="margin-top: 10px;">
            <div class="col">
                <label>Profesor</label>
                <select class="form-control"
                        [(ngModel)]="currProfessor">
                    <option *ngFor="let obj of professors" [value]="obj.id">
                        {{getFullName(obj)}}
                    </option>
                </select>
            </div>
            <div class="col">
                <button (click)="onClickAddProfessor()"
                        class="btn btn-custom">
                    <span>Agregar</span>
                </button>
            </div>
        </div>

        <div class="row" *ngIf="workTeamProfessors.length > 0" style="margin-top: 10px;">
            <div class="container" style="margin-top: 10px;">
                <h4 class="page-header">Profesores</h4>
            </div>
            <div class="card-block table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="product-row"
                        *ngFor="let item of workTeamProfessors">
                        <td>{{item.full_name}}</td>
                        <td>
                            <button type="button" class="btn btn-tb" data-toggle="modal"
                                    data-placement="top" title="" data-original-title="Remove item"
                                    (click)="onDeleteWorkTeamProfessor(item)"
                                    data-target="#basicExample">
                                <i class="fa fa-eraser"> </i>
                            </button>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>

        </div>


        <!-- Work team assistant -->
        <div class="row" style="margin-top: 10px;">
            <button (click)="onAddAssistant()"
                    class="btn btn-custom"
                    style="margin: auto"
                    *ngIf="addingAssistant == false && pageType == 'edit'">
                <span>Añadir Asistente</span>
            </button>

            <button (click)="onCancelAddAssistant()"
                    class="btn btn-custom"
                    style="margin: auto"
                    *ngIf="addingAssistant == true">
                <span>Cancelar</span>
            </button>
        </div>

        <div class="row" *ngIf="addingAssistant == true" style="margin-top: 10px;">
            <div class="col">
                <label>Asistente</label>
                <select class="form-control"
                        [(ngModel)]="currAssistant">
                    <option *ngFor="let obj of assistants" [value]="obj.id">
                        {{getFullName(obj)}}
                    </option>
                </select>
            </div>
            <div class="col">
                <button (click)="onClickAddAssistant()"
                        class="btn btn-custom">
                    <span>Agregar</span>
                </button>
            </div>
        </div>

        <div class="row" *ngIf="workTeamAssistants.length > 0" style="margin-top: 10px;">
            <div class="container" style="margin-top: 10px;">
                <h4 class="page-header">Asistentes</h4>
            </div>
            <div class="card-block table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="product-row"
                        *ngFor="let item of workTeamAssistants">
                        <td>{{item.full_name}}</td>
                        <td>
                            <button type="button" class="btn btn-tb" data-toggle="modal"
                                    data-placement="top" title="" data-original-title="Remove item"
                                    (click)="onDeleteWorkTeamAssistant(item)"
                                    data-target="#basicExample">
                                <i class="fa fa-eraser"> </i>
                            </button>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>
