<div>
    <div class="row card-block">
        <div class="col">
            <h2 class="page-header">Inicio</h2>
        </div>
        <div class="col">
            <button class="btn btn-custom" style="float: right;" (click)="onUpdateNews()">
                Actualizar
            </button>
        </div>
    </div>
    <div class="row">
        <div class="card-block table-responsive">
            <div class="card card-default">
                <div class="card-header">
                    <i class="fa fa-facebook fa-fw"></i> Noticias de Facebook
                </div>
                <!-- /.card-header -->
                <app-timeline [content]="content"></app-timeline>
                <!-- /.card-body -->
            </div>
        </div>
    </div>
</div>
