<div>
    <div class="row card-block">
        <div class="col">
            <h2 class="page-header" *ngIf="pageType ==='new'">Crear Usuario Admin</h2>
            <h2 class="page-header" *ngIf="pageType ==='edit'">Actualizar Usuario Admin</h2>
        </div>
        <div class="col">
            <button class="btn btn-custom" style="float: right;" (click)="onCreate()" [disabled]="!adminUserForm.valid"
                    *ngIf="pageType ==='new'">
                Crear
            </button>
            <button class="btn btn-custom" style="float: right;" (click)="onUpdate()" [disabled]="!adminUserForm.valid"
                    *ngIf="pageType ==='edit'">
                Actualizar
            </button>
        </div>
    </div>
    <div class="card" style="padding: 20px">
        <form [formGroup]="adminUserForm">

            <div class="row">
                <div class="col-lg-6">

                    <fieldset class="form-group">
                        <label for="name">Nombre</label>
                        <input class="form-control"
                               id="name"
                               formControlName="name">
                    </fieldset>

                    <fieldset class="form-group">
                        <label for="email">Correo</label>
                        <input class="form-control"
                               id="email"
                               formControlName="email">
                    </fieldset>


                    <!--<fieldset class="form-group">-->
                    <!--<label for="fileInput">Fotografía input</label>-->
                    <!--<input type="file" class="form-control-file" id="fileInput">-->
                    <!--</fieldset>-->

                    <!--<fieldset class="form-group">-->
                    <!--<label>Text area</label>-->
                    <!--<textarea class="form-control" rows="3"></textarea>-->
                    <!--</fieldset>-->


                </div>
                <div class="col-lg-6">

                    <!--<fieldset class="form-group">-->
                        <!--<label for="email">Contraseña</label>-->
                        <!--<input class="form-control"-->
                               <!--id="password"-->
                               <!--formControlName="password">-->
                    <!--</fieldset>-->

                    <div class="form-group">
                        <label>Tipo de Admin</label>
                        <select class="form-control">
                            <option *ngFor="let adminType of adminTypes">{{ adminType.name }}</option>
                        </select>
                    </div>

                    <fieldset class="form-group">
                        <label for="active"> Activo</label>
                        <input type="checkbox"
                               id="active"
                               formControlName="active"
                               class="form-control-file">
                    </fieldset>

                </div>
            </div>
        </form>
        <br/>
        <div class="row">
            <button (click)="onAddRoles()"
                    class="btn btn-custom"
                    style="margin: auto"
                    *ngIf="addingRole == false">
                <span>Añadir Rol</span>
            </button>

            <button (click)="onCancelRoles()"
                    class="btn btn-custom"
                    style="margin: auto"
                    *ngIf="addingRole == true">
                <span>Cancelar</span>
            </button>
        </div>
        <br/>

        <div class="row" *ngIf="addNewRole == true">
            <div class="col">
                <div class="form-group">
                    <label>Entidad</label>
                    <select class="form-control"
                            [(ngModel)]="newRole.entity_id">
                        <option *ngFor="let entity of entities" [value]="entity.id">{{ entity.name }}</option>
                    </select>
                </div>

            </div>
            <div class="col">
                <label>Rol</label>
                <select class="form-control"
                        [(ngModel)]="newRole.role_type">
                    <option *ngFor="let role of roleTypes" [value]="role.id">{{ role.name }}</option>
                </select>

            </div>
            <div class="col">
                <button (click)="onClickAddRole()"
                        class="btn btn-custom"

                        *ngIf="editingRole == false">
                    <span>Agregar</span>
                </button>
                <button (click)="onClickUpdateRole()"
                        class="btn btn-custom"
                        *ngIf="editingRole == true">
                    <span>Actualizar</span>
                </button>
            </div>
        </div>

        <div class="row" *ngIf="adminRoles.length > 0">
            <div class="container">
                <h3 class="page-header">Roles</h3>
            </div>
            <div class="card-block table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Entidad</th>
                        <th>Permiso</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="product-row"
                        *ngFor="let item of adminRoles">
                        <td>{{item.entity}}</td>
                        <td>{{item.role}}</td>
                        <td>
                            <button type="button" class="btn btn-tb"
                                    id="test-btn"
                                    data-toggle="tooltip"
                                    data-placement="top" title="" data-original-title="Remove item"
                                    (click)="onEditRole(item)">
                                <i class="fa fa-pencil-square-o"> </i>
                            </button>

                            <button type="button" class="btn btn-tb" data-toggle="modal"
                                    data-placement="top" title="" data-original-title="Remove item"
                                    (click)="onDeleteRole(item)"
                                    data-target="#basicExample">
                                <i class="fa fa-eraser"> </i>
                            </button>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>
