<div class="card-block">
    <ul class="timeline">
        <li *ngFor="let object of content; let i=index"
            class="timeline-{{getClass(i)}}">

            <div class="timeline-panel">

                <div class="view">
                    <img style="max-height: 250px;margin: auto;display:block;"
                         [src]=object.full_picture
                         class="img-fluid">
                </div>
                <br/>
                <div class="timeline-body" style="word-wrap: break-word">
                    <p>{{object.message}}</p>
                </div>
                <button class="btn btn-custom" style="margin-top: 20px;"
                        (click)="onClickNewsFeed(object)">Crear Noticia
                </button>

            </div>
        </li>
    </ul>
</div>
