<div class="login-page" [@routerTransition]>
    <div class="row">
        <div id="login" class="col-md-4 push-md-4">
            <!--<div class="row">-->
            <!--<img src="../../assets/images/logo.png"  alt="Site Logo" class="logo-img"/>-->
            <!--</div>-->
            <!--<div class="row">-->
            <img src="../../assets/images/logoPiosa.png" alt="Site Logo" class="logo-img">
            <!--</div>-->
            <!--<h1>PiOSA</h1>-->
            <form role="form" [formGroup]="loginForm" novalidate>
                <div class="form-content">
                    <div class="form-group">
                        <input type="email"
                               class="form-control input-underline input-lg"
                               id="email" placeholder="Correo electrónico"
                               formControlName="email">
                    </div>

                    <div class="form-group">
                        <input type="password"
                               class="form-control input-underline input-lg"
                               id="password" placeholder="Password"
                               formControlName="password">
                    </div>
                </div>
                <button class="btn btn-primary rounded-btn" (click)="onLogIn()"
                        [disabled]="loginForm.invalid" >
                    Iniciar sesión</button>
            </form>
        </div>
    </div>
</div>
