/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";

.btn-custom {
    background-color: #F9B002;
    font-size: 15px;
    box-shadow: 0 0 1px #ccc;
    -webkit-transition: all 0.5s ease-in-out;
    border: 0;
    color: white;
    display: block;
    float: right;
}

.btn-custom:hover {
    -webkit-transform: scale(1.035);
    background: #41ADE7;
}

