<div>
    <div class="row card-block">
        <div class="col">
            <h2 class="page-header"  *ngIf="pageType ==='new'">Crear Usuario</h2>
            <h2 class="page-header"  *ngIf="pageType ==='edit'">Actualizar Usuario</h2>
        </div>
        <div class="col">
            <button class="btn btn-custom" style="float: right;" (click)="onCreate()" [disabled]="!userForm.valid"
                    *ngIf="pageType ==='new'">
                Crear
            </button>
            <button class="btn btn-custom" style="float: right;" (click)="onUpdate()" [disabled]="!userForm.valid"
                    *ngIf="pageType ==='edit'">
                Actualizar
            </button>
        </div>
    </div>
    <div class="card" style="padding: 20px">
        <form [formGroup]="userForm">

            <div class="row">
                <div class="col-lg-6">

                    <fieldset class="form-group">
                        <label for="name">Nombre</label>
                        <input class="form-control"
                               id="name"
                               formControlName="name">
                    </fieldset>

                    <fieldset class="form-group">
                        <label for="email">Correo</label>
                        <input class="form-control"
                               id="email"
                               formControlName="email">
                    </fieldset>


                    <!--<fieldset class="form-group">-->
                    <!--<label for="fileInput">Fotografía input</label>-->
                    <!--<input type="file" class="form-control-file" id="fileInput">-->
                    <!--</fieldset>-->

                    <!--<fieldset class="form-group">-->
                    <!--<label>Text area</label>-->
                    <!--<textarea class="form-control" rows="3"></textarea>-->
                    <!--</fieldset>-->


                </div>
                <div class="col-lg-6">

                    <fieldset class="form-group">
                        <label for="email">Contraseña</label>
                        <input class="form-control"
                               id="password"
                               formControlName="password">
                    </fieldset>

                </div>
            </div>
        </form>
    </div>
</div>
