<div class="pos-f-t fixed-top header">
    <nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md">
        <button class="navbar-toggler navbar-toggler-right" (click)="toggleSidebar()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="javascript:void(0)">
            CONTENT MANAGEMENT SYSTEM
        </a>

        <div class="collapse navbar-collapse">

            <ul class="navbar-nav ml-auto mt-2 mt-md-0">
                <li class="nav-item dropdown" ngbDropdown>
                    <a class="nav-link" ngbDropdownToggle style="color: white" *ngIf="userObject != null">
                        <i class="fa fa-user"></i> {{userObject.name}} <b class="caret"></b>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <!--<a class="dropdown-item"><i class="fa fa-fw fa-user"></i> Profile</a>-->
                        <!--<a class="dropdown-item"><i class="fa fa-fw fa-gear"></i> Settings</a>-->
                        <a class="dropdown-item" [routerLink]="['/login']" (click)="onLoggedout()"><i
                            class="fa fa-fw fa-power-off"></i> Log Out</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
