<div>
    <div class="row card-block">
        <div class="col">
            <h2 class="page-header" *ngIf="pageType ==='new'">Crear Proyecto</h2>
            <h2 class="page-header" *ngIf="pageType ==='edit'">Actualizar Proyecto</h2>
        </div>
        <div class="col">
            <button class="btn btn-custom" style="float: right;" (click)="onCreate()" [disabled]="!proyectForm.valid"
                    *ngIf="pageType ==='new'">
                Crear
            </button>
            <button class="btn btn-custom" style="float: right;" (click)="onUpdate()" [disabled]="!proyectForm.valid"
                    *ngIf="pageType ==='edit'">
                Actualizar
            </button>
        </div>
    </div>
    <div class="card" style="padding: 20px">
        <form [formGroup]="proyectForm">

            <div class="row">
                <div class="col" style="padding: 20px;">

                    <div *ngIf="object != null">
                        <fieldset class="form-group">
                            <label for="name">Sigla</label>
                            <input class="form-control"
                                   id="id"
                                   formControlName="id" readonly>
                        </fieldset>
                    </div>

                    <fieldset class="form-group">
                        <label for="name">Nombre</label>
                        <input class="form-control"
                               id="name"
                               formControlName="name">
                    </fieldset>

                    <fieldset class="form-group">
                        <label for="type">Tipo de Proyecto</label>
                        <select class="form-control"
                                id="type"
                                formControlName="type"
                                [(ngModel)]="currentType">
                            <option *ngFor="let type of proyectTypes" [value]="type.id">
                                {{ type.name }}
                            </option>
                        </select>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="description">Descripción</label>
                        <textarea
                            formControlName="description"
                            class="form-control"
                            id="description" name="description" rows="5"></textarea>
                    </fieldset>


                </div>
                <div class="col" style="padding: 20px;">
                    <div class="row">
                        <img hidden
                             id='proyImage' class="img-responsive">
                    </div>
                    <br/>

                    <fieldset class="form-group">
                        <label for="fileInput">Imágen Principal</label>
                        <input type="file"
                               class="form-control-file"
                               (change)="onImageChange($event)"
                               id="fileInput">
                    </fieldset>

                    <fieldset class="form-group">
                        <label for="active"> Activo</label>
                        <input type="checkbox"
                               id="active"
                               formControlName="active"
                               class="form-control-file">
                    </fieldset>

                    <!--<fieldset class="form-group">-->
                    <!--<label for="start_date">Fecha de Inicio</label>-->
                    <!--<input type="date"-->
                    <!--formControlName="start_date"-->
                    <!--class="form-control"-->
                    <!--id="start_date">-->
                    <!--</fieldset>-->
                    <!--<fieldset class="form-group">-->
                    <!--<label for="end_date">Fecha de Fin</label>-->
                    <!--<input type="date"-->
                    <!--formControlName="end_date"-->
                    <!--class="form-control"-->
                    <!--id="end_date">-->
                    <!--</fieldset>-->
                    <!--<fieldset class="form-group" *ngIf="creation_date != null">-->
                    <!--<label>Fecha de creación: {{creation_date | date:'dd/MM/yyyy' }}</label>-->
                    <!--</fieldset>-->
                    <!--<fieldset class="form-group" *ngIf="modif_date != null">-->
                    <!--<label>Fecha de modificación: {{modif_date | date:'dd/MM/yyyy' }}</label>-->
                    <!--</fieldset>-->

                </div>
            </div>
        </form>
    </div>
</div>
