<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <br/>
    <img src="../../../assets/images/logoPiosa.png" class="logo-img">
    <br/>
    <ul class="list-group">
        <a *ngFor="let menuItem of menuItems"
           [routerLink]="[menuItem.path]"
           [routerLinkActive]="['router-link-active']"
           class="list-group-item">
            <i class="fa fa-fw fa-{{menuItem.icon}}"></i> {{menuItem.title}}
        </a>
    </ul>
</nav>
