<div>
    <div class="row card-block">
        <div class="col">
            <h2 class="page-header"  *ngIf="pageType ==='new'">Crear Evento</h2>
            <h2 class="page-header"  *ngIf="pageType ==='edit'">Actualizar Evento</h2>
        </div>
        <div class="col">
            <button class="btn btn-custom" style="float: right;" (click)="onCreate()" [disabled]="!eventForm.valid"
                    *ngIf="pageType ==='new'">
                Crear
            </button>
            <button class="btn btn-custom" style="float: right;" (click)="onUpdate()" [disabled]="!eventForm.valid"
                    *ngIf="pageType ==='edit'">
                Actualizar
            </button>
        </div>
    </div>
    <div class="card" style="padding: 20px">
        <form [formGroup]="eventForm">

            <div class="row">
                <div class="col">

                    <fieldset class="form-group">
                        <label for="title">Título</label>
                        <input class="form-control" id="title" formControlName="title">
                    </fieldset>


                    <fieldset class="form-group">
                        <label for="type">Proyecto</label>
                        <select class="form-control"
                                id="type"
                                formControlName="proyect_id"
                                [(ngModel)]="currentProy">
                            <option *ngFor="let proy of proyects" [value]="proy.id">
                                {{ proy.name }}
                            </option>
                        </select>
                    </fieldset>

                    <fieldset class="form-group">
                        <label for="description">Descripción</label>
                        <textarea
                            formControlName="description"
                            class="form-control"
                            id="description" name="description" rows="3"></textarea>
                    </fieldset>

                    <fieldset class="form-group">
                        <label for="start">Fecha de Inicio</label>
                        <input type="date"
                               formControlName="start"
                               class="form-control"
                               id="start">
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="end">Fecha de Fin</label>
                        <input type="date"
                               formControlName="end"
                               class="form-control"
                               id="end">
                    </fieldset>

                </div>
                <div class="col">
                    <div class="row">
                        <img hidden id='eventImage' class="img-responsive">
                    </div>
                    <br/>

                    <fieldset class="form-group">
                        <label for="fileInput">Imágen Principal</label>
                        <input type="file"
                               (change)="onImageChange($event)"
                               class="form-control-file" id="fileInput">
                    </fieldset>

                    <fieldset class="form-group">
                        <label for="active"> Activo</label>
                        <input type="checkbox"
                               id="active"
                               formControlName="active"
                               class="form-control-file">
                    </fieldset>

                    <fieldset class="form-group" *ngIf="creation_date != null">
                        <label>Fecha de creación: {{creation_date | date:'dd/MM/yyyy' }}</label>
                    </fieldset>
                    <fieldset class="form-group" *ngIf="modif_date != null">
                        <label>Fecha de modificación: {{modif_date | date:'dd/MM/yyyy' }}</label>
                    </fieldset>

                </div>
            </div>
        </form>
    </div>
</div>
