<div>
    <div class="row card-block">
        <div class="col">
            <h2 class="page-header"  *ngIf="pageType ==='new'">Crear Avance</h2>
            <h2 class="page-header"  *ngIf="pageType ==='edit'">Actualizar Avance</h2>
        </div>
        <div class="col">
            <button class="btn btn-custom" style="float: right;" (click)="onCreate()" [disabled]="!advanceForm.valid"
                    *ngIf="pageType ==='new'">
                Crear
            </button>
            <button class="btn btn-custom" style="float: right;" (click)="onUpdate()" [disabled]="!advanceForm.valid"
                    *ngIf="pageType ==='edit'">
                Actualizar
            </button>
        </div>
    </div>
    <div class="card" style="padding: 20px">
        <form [formGroup]="advanceForm">

            <div class="row">
                <div class="col">

                    <fieldset class="form-group">
                        <label for="type">Proyecto</label>
                        <select class="form-control"
                                id="type"
                                formControlName="proyect_id"
                                [(ngModel)]="currentProy">
                            <option *ngFor="let proy of proyects" [value]="proy.id">
                                {{ proy.name }}
                            </option>
                        </select>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="title">Título</label>
                        <input class="form-control"
                               id="title"
                               formControlName="title">
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="description">Descripción</label>
                        <textarea
                            formControlName="description"
                            class="form-control"
                            id="description" name="description" rows="5"></textarea>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="active"> Activo</label>
                        <input type="checkbox"
                               id="active"
                               formControlName="active"
                               class="form-control-file">
                    </fieldset>
                </div>
            </div>
        </form>
    </div>
</div>
