<div>
    <div class="row card-block">
        <div class="col">
            <h2 class="page-header">Crear Noticia</h2>
        </div>
        <div class="col">
            <button class="btn btn-custom" style="float: right;" (click)="onCreate()" [disabled]="!newsForm.valid"
                    *ngIf="pageType ==='new'">
                Crear
            </button>
            <button class="btn btn-custom" style="float: right;" (click)="onUpdate()" [disabled]="!newsForm.valid"
                    *ngIf="pageType ==='edit'">
                Actualizar
            </button>
        </div>
    </div>
    <div class="card" style="padding: 20px">
        <form [formGroup]="newsForm">

            <div class="row">
                <div class="col">
                    <fieldset class="form-group">
                        <label for="type">Proyecto</label>
                        <select class="form-control"
                                id="type"
                                formControlName="proyect_id"
                                [(ngModel)]="currentProy">
                            <option *ngFor="let proy of proyects" [value]="proy.id">
                                {{ proy.name }}
                            </option>
                        </select>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="title">Título</label>
                        <input class="form-control"
                               id="title"
                               formControlName="title">
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="resume">Resúmen</label>
                        <input class="form-control"
                               id="resume"
                               formControlName="resume">
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="link">Link</label>
                        <input class="form-control"
                               id="link"
                               formControlName="link">
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="content">Contenido</label>
                        <textarea
                            formControlName="content"
                            class="form-control"
                            id="content" name="content" rows="5"></textarea>
                    </fieldset>
                </div>
                <div class="col">
                    <div class="row">
                        <img hidden id='newsImage' class="img-responsive">
                    </div>
                    <br/>

                    <fieldset class="form-group">
                        <label for="fileInput">Imágen Principal</label>
                        <input type="file"
                               (change)="onImageChange($event)"
                               class="form-control-file" id="fileInput">
                    </fieldset>

                    <fieldset class="form-group">
                        <label for="active"> Activo</label>
                        <input type="checkbox"
                               id="active"
                               formControlName="active"
                               class="form-control-file">
                    </fieldset>

                </div>
            </div>
        </form>
    </div>
</div>
