<div>
    <div class="row card-block">
        <div class="col">
            <h2 class="page-header">Usuarios</h2>
        </div>
        <div class="col">
            <button class="btn btn-custom" (click)="onClickCreate()">Crear Usuario</button>
        </div>
    </div>
    <div class="row">
        <div class="card-block table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Fecha de Creación</th>
                    <th>Fecha de Modificación</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of content">
                    <td>{{item.name}}</td>
                    <td>{{item.email}}</td>
                    <td *ngIf="item.creation_date != null">{{ item.creation_date | date:'dd/MM/yyyy' }}</td>
                    <td *ngIf="item.creation_date == null"> - -</td>
                    <td *ngIf="item.modif_date != null">{{ item.modif_date | date:'dd/MM/yyyy' }}</td>
                    <td *ngIf="item.modif_date == null"> - -</td>

                    <td>
                        <button type="button" class="btn btn-tb"
                                id="test-btn"
                                data-toggle="tooltip"
                                data-placement="top" title="" data-original-title="Remove item"
                                (click)="onClickEdit(item)">
                            <i class="fa fa-pencil-square-o"> </i>
                        </button>

                        <button type="button" class="btn btn-tb" data-toggle="modal"
                                data-placement="top" title="" data-original-title="Remove item"
                                (click)="onClickErase(item)"
                                data-target="#basicExample">
                            <i class="fa fa-eraser"> </i>
                        </button>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
